/* GENERAL */

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 0; /* Removes white space below image */
  font-size: 0.875rem;
}

/* * {
  box-sizing: border-box;
} */

.hidden {
  display: none;
}

/* LARGE IMAGE */
img {
  width: 100%;
}

/* Image-container design */
.image-container {
  max-width: 800px;
  height: auto;
  position: relative;
  margin: auto auto 4%;
}

.next {
  right: 0;
}

/* Next and previous icon design in large image */
.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  bottom: 0%;
  color: rgba(255, 255, 255, 0.5); /* fa buttons */
  font-size: 32px;
}
.previous {
  padding: 30% 25px 30% 10px;
}
.next {
  padding: 30% 10px 30% 25px;
}

.previous:hover,
.next:hover {
  transition: 1s;
  color: rgba(255, 255, 255, 0.8);
}
.previous:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.01)
  );
}
.next:hover {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.01)
  );
}

/* IMAGE LINT */
/* .lint-container, */
.slider {
  overflow-x: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, 30vh);
  grid-template-rows: 1fr;
  width: 80%;
  margin: auto;
  scroll-snap-type: both mandatory;
  padding-bottom: 0;
  line-height: 0;
}

img,
.image-small {
  display: inline-block;
  border-radius: 5px;
}

.image-small {
  scroll-snap-align: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 0.5;
  margin: 0 0.5rem 0;
}

.active,
.image-small:hover {
  opacity: 1;
}

.active {
  scroll-snap-type: unset;
}
